@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* //////////////////////////////////////////////////////////// */

.search-bar{
    width: 95%;
    border: 1px solid white;
    margin: auto;
    padding-bottom: 40px;
    background: rgb(218,244,252);
    background: linear-gradient(90deg, rgba(218,244,252,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 85%, rgba(254,238,204,1) 100%);
}


.search{
    font-family: 'Poppins';
    font-weight: 400;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.search > div{
    height: 60px;
    display: flex;
    justify-content:  space-between;
    margin: auto;
}

.search > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search form{
    border: 1px solid black;
    width: 100%;
    height: 45px;
    display: flex;
    border-radius: 25px;
    border-color: white;
    font-family: 'Poppins';
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form input{
    width: 100%;
    float: 1;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}

form button{
    height: 90%;
    width: 15%;
    margin: auto;
    border: none;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #10847e;
    color:  white;
    font-size: 15px;
    margin-right: 3px;
    font-family: 'Poppins';
}

form .fa-magnifying-glass{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}

/* /////////////////////////////////////////////////////////////////// */

.categories{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}


.categories > div{
    height: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins';
}

.categories > div > h5{
    color: #f47779;
}

.categories >  :hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.categories img{
    width: 100px;
}


/* ////////////////////////////////////////////////////////////////// */

.presc{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: flex-end;
    background-color: #eef4ff;
    font-family: 'Poppins';
    border-radius: 10px;
    margin-bottom: 50px;
}

.presc > :nth-child(2){
    width: 35%;
    height: 100%;
    margin-left: 10px;
}


.presc > :nth-child(3){
    width: 55%;
    height: 100%;
    padding: 30px;
    background-color: white;
}

.presc > :nth-child(3) table > tbody > tr :nth-child(odd){
    text-align: center;
    background-color: #97aacd;
    border-radius: 10px;
    margin: 20px;
}

.presc > :nth-child(3) table > tbody > tr :nth-child(even){
    padding-left: 10px;
}

.presc img{
    width: 100px;
}

.presc > :nth-child(2) > h3, p{
    margin-bottom: 10px;
}

.presc > :nth-child(2) > a{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #10847e;
    border-color: #10847e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.shopByCha{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.shopByCha a{
    text-decoration: none;
}

.shopByCha a > div{
    width: auto;
    height: auto;
    text-align: center;
    color: black;
}

.shopByCha a > div > div{
    width: 150px;
    margin-bottom: 10px;
    border: 1px solid #c8deee;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.shopByCha a > div > div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shopByCha a > div > div img{
    width: 100%;
}

.shopByCon{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.shopByCon a{
    text-decoration: none;
}

.shopByCon a > div{
    width: auto;
    height: auto;
    text-align: center;
    color: #4f585e;
    font-weight: 600;
    padding-left: 20px;
}

.shopByCon a > div > div{
    width: 120px;
    margin-bottom: 10px;
    border: 1px solid #c8deee;
    border-radius: 55%;
}

.shopByCon a > div > div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shopByCon a > div > div img{
    width: 100%;
    border-radius: 60%;
}

.article-head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'poppins';
    margin-left: 6%;
    color: #5b6165;
}
.article-head > a{
    text-decoration: none;
    color: #0a534f;
    font-size: 20px;
    margin-right: 20px;
    font-weight: 500;
}

.article{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;

}

.article > a {
    text-decoration: none;
}


.article > a > div{
    width: auto;
    height: 320px;
    text-align: center;
    color: #4f585e;
    font-weight: 600;
    border: 1px solid #eef4ff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article  a  div img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.article a div p{
    margin: 20px;
}

.choose{
    width: 90%;
    margin: auto;
    background-color: #eef4ff;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.choose > h2{
    font-family: 'poppins';
    color: #5b6165;
}

.choose > div{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #5b6165;
}

.choose > div > div{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose > div > div img{
    width: 25%;
}

.banner{
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    background-color: #d7faf8;
    position: relative;
}

.banner > img{
    width: 100%;
    margin: 0;
}

.banner > div{
    position: absolute;
    text-align: center;
    top: 15%;
    left: 40%;
    color: #333a40;
}

.banner > div h1, h3, img{
    margin-bottom: 10px;
}

.banner h1{
    font-size: 40px;
}

.about{
    width: 90%;
    margin: auto;
    font-family: 'poppins';
    font-size: 14px;
    color: #5b6165;
    margin-bottom: 70px;
}

.about b{
    color: #4f5356;
}

footer{
    width: 90%;
    margin: 30px;
    background-color: #eef4ff;
    margin-top: 50px;
    padding: 40px;
}

footer > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

footer > div a{
    text-decoration:  none;
    color: #4f585e;
}

footer > div > div i{
    font-size: 30px;
    margin-right: 20px;
}

footer > div:last-child{
    display: flex;
    justify-content: space-between;
}

footer > div:last-child div img{
    width: auto;
    margin-right: 20px;
}

